<title>Answer the Question</title>
<div ng-controller="answerController">
    <div class="navbar-container">
        <ul id="navbar">
            <div id="navbar-left">
                <li><p>QA</p></li>
            </div>
            <div id="navbar-right">
                <li><a href="#/dashboard">Dashboard</a></li>
                <li><a href="#/profile/{{current_user._id}}">Profile</a></li>
                <li><a href="#" ng-click="logout()">Log-Out</a></li>
            </div>
        </ul>
    </div>
    <div class="new-answer-headline">
        <h1>Share An Answer</h1>
        <h2>{{question.question}}</h2>
        <h3>{{question.description}}</h3>
    </div>

    <div class="new-answer-container">
        <form ng-submit="new_answer(message_id)">
            <p ng-repeat="error in newAnswerErrors" style="color:red;">{{error.message}}</p>
            <textarea id="answer-textarea" ng-model="newAnswer.answer" placeholder="Your Answer"></textarea>
            <div class="new-answer-form-buttons">
                <button class="btn" type="button"><a href="#/dashboard" id="cancel_link">Cancel</a></button>
                <input class="btn" type="submit" value="Submit"></p>
            </div>
        </form>
    </div>
</div>
