
<title>QA | Dashboard</title>
<div ng-controller="dashboardController">
    <div class="navbar-container">
        <ul id="navbar">
            <div id="navbar-left">
                <li><p>QA</p></li>
            </div>
            <div id="navbar-right">
                <li><a href="#/dashboard">Dashboard</a></li>
                <li><a href="#/profile/{{current_user._id}}">Profile</a></li>
                <li><a href="#" ng-click="logout()">Log-Out</a></li>
            </div>
        </ul>
    </div>

    <h1 id="dashboard-welcome">Hi, {{current_user.name}}!</h1>

    <div class="search-container">
        <input id="search-bar" type="text" ng-model="filter_question" placeholder="Search by Question">
        <div id="questionHolder">
            <button id="new-question-link" class="btn"><a href="#/question">Ask A New Question</a></button>
        </div>
    </div>

    <table>
        <tr>
            <th>Question</th>
            <th>Answers</th>
            <th>Action</th>
        </tr>
        <tr ng-repeat="question in allQuestions | filter:filter_question">
            <td><a href="#/show/{{question._id}}">{{question.question}}</a><br><p id="question-created-at">{{question.createdAt | date: 'medium'}}</p></td>
            <td>{{question.answers.length}}</td>
            <td><button class="btn answer-question-link"><a id="table-answer-link" href="#/answer/{{question._id}}">Answer</a></button></td>
        </tr>
    </table>
</div>
