
<title>Home</title>
<div ng-controller="dashboardController">
    <div class="navbar-container">
        <ul id="navbar">
            <li><a href="#/dashboard">Home</a></li>
            <li><p>QA</p></li>
            <li><a href="#" ng-click="logout()">Log-Out</a></li>
        </ul>
    </div>


    <h1 id="dashboard-welcome">Hi, {{current_user.name}}!</h1>
    <p id="dashboard-current-username">Currently logged in as: {{current_user.name}}</p>

    <div class="search-container">
        <!-- <label for="search_bar">Search by Question:</label> -->
        <input id="search-bar" type="text" ng-model="filter_question" placeholder="Search by Question">
        <p id="new-question-link"><a href="#/question">Add A New Question</a></p>
    </div>

    <table>
        <tr>
            <th>Question</th>
            <th>Answers</th>
            <th>Action</th>
        </tr>
        <tr ng-repeat="question in allQuestions | filter:filter_question">
            <td><a href="#/show/{{question._id}}">{{question.question}}</a></td>
            <td>{{question.answers.length}}</td>
            <td><a href="#/show/{{question._id}}">Show</a> | <a href="#/answer/{{question._id}}">Answer</a></td>
        </tr>
    </table>

</div>
