<div class="login-partial" ng-controller="loginController">

    <div class="header">
        <div class="main-container">
            <div class="main-headline-textbox">
                <h1>QA</h1>
                <h2>Ask questions.</h2>
                <h2>Get <span id="answers-underline">answers</span>.</h2>
            </div>
            <div class="main-login-container">
                <h3>Log-In!</h3>
                <form class="login-form" ng-submit="loginUser(loginUserAttempt)">
                    <label>Email: <input type="text" ng-model="loginUserAttempt.email"></label>
                    <label>Password: <input type="password" ng-model="loginUserAttempt.password"></label>
                    <p ng-repeat="error in loginErrors">{{error.message}}</p>
                    <input class="btn login-button" type="submit" value="Login">
                    <button type="button" class="btn btn-danger register-button" data-toggle="modal" data-target="#registerModal">Create An Account</button>
                </form>

            </div>
        </div>
    </div>



    <div class="product-description">
        <h2>Join our community of curious thinkers.</h2>
        <h3>We want to help you find the answers. All of our content is user generated and curated by the experiences of our community. Whether you're interested a certain topic or want to help shed light for others, we strive to create a strong community for eager minds and curious thinkers.</h3>
        <button type="button" id="register-modal-large" class="btn btn-danger register-button" data-toggle="modal" data-target="#registerModal">Create An Account</button>
        <div class="product-description-list">
            <div class="product-function">
                <h4>Search</h4>
                <p>Stay current and see what the community is talking about, or instantly find answers to the question on your mind.</p>
            </div>
            <div class="product-function">
                <h4>Ask</h4>
                <p>Pose a question to the entire community and we'll all help you find the answer. Or answers.</p>
            </div>
            <div class="product-function">
                <h4>Contribute</h4>
                <p>Join in on a convseration. Provide some answers or vote up the best ones. The most popular questions are featured everyday.</p>
            </div>
        </div>
    </div>

    <div class="latest-question-container">
        <h2>Latest Question: <span id="latest-question">"Why is the sky blue?"</span></h2>
    </div>


    <div class="footer">
        <div>
            <p id="copyright"> Copyright &#169;2017. Created by Justin Chan. All rights reserved. Powered by coffee and tacos.</p>
        </div>
    </div>

    <!-- MODAL -->
    <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="register-modal-title">Create A New Account</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form ng-submit="registerUser()">
                        <ul id="reg-form-list">
                            <li>
                                <label for="name">Name:</label>
                                <input id="name" type="text" ng-model="regUser.name">
                            </li>
                            <li>
                                <label for="email" class="">Email:</label>
                                <input id="email" type="email" ng-model="regUser.email">
                            </li>
                            <li>
                                <label for="password" class="">Password:</label>
                                <input id="password" type="password" ng-model="regUser.password">
                            </li>
                            <li>
                                <label for="passwordconf" class="">Password Confirmation:</label>
                                <input id="passwordconf" type="password" ng-model="regUser.passwordConf">
                            </li>
                            <li>
                                <input id="reg-submit-button" type="submit" value="SUBMIT">
                            </li>
                        </ul>
                    </form>
                </div>
                <div class="modal-footer">
                    <p id="error-message" ng-repeat="error in regErrors">{{error.message}}</p>
                </div>
            </div>
        </div>
    </div>

</div>
