<style>
    ul {
        padding: 0px;
    }

    #ul_top {
        list-style: none;
    }
        #ul_top li{
            display: inline-block;
            margin-right: 20px;
        }

    #ul_bookmark{
        list-style: none;
    }

    #ul_bottom{
        list-style: none;
    }

    label {
        display: block;
        margin-top: 25px;
    }

    table {
        margin-top: 15px;
    }

        th {
            text-align: left;
            width: 300px;
        }

        td {
            width: 300px;
        }

        #cancel_link{
            text-decoration: none;
            color: black;
        }

</style>
<title>Add a Question</title>
<div ng-controller="questionController">
    <ul id="ul_top">
        <li><a href="#/dashboard">Home</a></li>
        <li><a href="#" ng-click="logout()">Log-Out</a></li>
    </ul>

    <h1>New Question</h1>
    <p ng-repeat="error in newQuestionErrors" style="color:red;">{{error.message}}</p>
    <form ng-submit="new_question()">
        <p>Question</p>
        <textarea ng-model="newQuestion.question" rows="8" cols="80"></textarea>
        <p>Description (optional)</p>
        <textarea ng-model="newQuestion.description" rows="8" cols="80"></textarea>
        <p><button type="button"><a href="#/dashboard" id="cancel_link">Cancel</a></button>
        <input type="submit" value="Submit"></p>
    </form>

<!--
    <p style="color:red;">{{test}}</p> -->

</div>
