<title>Add a Question</title>
<div ng-controller="questionController">
    <div class="navbar-container">
        <ul id="navbar">
            <div id="navbar-left">
                <li><p>QA</p></li>
            </div>
            <div id="navbar-right">
                <li><a href="#/dashboard">Dashboard</a></li>
                <li><a href="#/profile/{{current_user._id}}">Profile</a></li>
                <li><a href="#" ng-click="logout()">Log-Out</a></li>
            </div>
        </ul>
    </div>

    <div class="new-question-headline">
        <h1>Ask A Question</h1>
    </div>

    <div class="new-question-container">
        <p ng-repeat="error in newQuestionErrors" style="color:red;">{{error.message}}</p>
        <form ng-submit="new_question()">
            <input id="question-input" type="text" ng-model="newQuestion.question" placeholder="What Would You Like To Know?"></input>
            <textarea id="question-description" ng-model="newQuestion.description" placeholder="Any Additional Comments? (Optional)"></textarea>
            <div class="new-question-form-buttons">
                <button type="button" class="btn"><a href="#/dashboard" id="cancel_link">Cancel</a></button>
                <input type="submit" class="btn" value="Submit"></p>
            </div>
        </form>
    </div>

</div>
