@media only screen and (min-width: 768px) { /* For Desktop, large screens */

    .navbar-container {
        background-color: #1abc9c;
    }

        #navbar {
            width: 100%;
            margin: 0 auto;
            padding: 10px 2%;
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

            #navbar li {
                margin: 0;
                padding: 0;
            }

            #navbar li a {
                margin: 0;
                padding: 0;
                font-family: 'Quicksand', sans-serif;
                text-decoration: none;
                color: white;
                font-size: 1.25rem;
            }

            #navbar li p {
                margin: 0;
                padding: 0;
                font-family: 'Quicksand', sans-serif;
                font-weight: 700;
                text-decoration: none;
                color: white;
                font-size: 2.5rem;
            }


    .new-answer-headline {
        width: 90%;
        margin: 25px 5% 0px 5%;
        padding: 15px 0;
    }

        .new-answer-headline h1{
            margin: 0 0 15px 0;
            padding: 0;
            font-family: 'Quicksand', sans-serif;
            font-weight: 700;
            color: black;
            opacity: .75;
            font-size: 3rem;
        }

        .new-answer-headline h2{
            margin: 0;
            padding: 0;
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
            color: black;
            opacity: .54;
            font-size: 1.5rem;
        }

    .new-answer-container {
        width: 90%;
        margin: 0 auto;
        padding: 0;
    }

        .new-answer-container p {
            text-align: center;
        }

        #answer-textarea {
            width: 100%;
            height: 200px;
            margin: 10px 0 5px 0 ;
            resize: none;
            font-family: 'Quicksand', sans-serif;
            font-weight: 400;
            color: black;
            font-size: 1.5rem;
            opacity: .75;
        }

        .new-answer-form-buttons {
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: flex-end;
        }

            .new-answer-form-buttons button,  .new-answer-form-buttons button a{
                margin: 0 5px;
                background-color: #E57373;
                text-decoration: none;
                color: white;
            }

            .new-answer-form-buttons input {
                cursor: pointer;
                background-color: #4DB6AC;
                color: white;
            }

}
