.page-gradient {
    padding: 0 0 25px 0;
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(247,247,247,1) 47%, rgba(240,240,240,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(247,247,247,1)), color-stop(100%, rgba(240,240,240,1)));
    background: -webkit-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(247,247,247,1) 47%, rgba(240,240,240,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(247,247,247,1) 47%, rgba(240,240,240,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(247,247,247,1) 47%, rgba(240,240,240,1) 100%);
    background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(247,247,247,1) 47%, rgba(240,240,240,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0f0f0', GradientType=1 );
}

@media only screen and (min-width: 768px) { /* For Desktop, large screens */


    #dashboard-welcome {
        width: 90%;
        margin: 25px 5% 0px 5%;
        padding: 0;
        font-family: 'Quicksand', sans-serif;
        font-size: 3rem;
        font-weight: 700;
        opacity: .87;
    }

    #dashboard-current-username {
        width: 90%;
        margin: 5px 5% 25px 5%;
        padding: 0;
        font-family: 'Roboto', sans-serif;
        font-size: .75rem;
        font-weight: normal;
        opacity: .54;
    }

    .search-container {
        width: 90%;
        margin: 0 5%;
        padding: 0;
    }

        #search-bar {
            width: 100%;
            margin: 0;
            padding: 10px 0;
            text-align: center;
            font-family: 'Quicksand', sans-serif;
            font-size: 1.5rem;
        }

    #questionHolder {
        text-align: center;
    }

        #new-question-link {
            margin: 10px 0 0 0;
            background-color: #E57373;
            -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
            -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
            box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        }

            #new-question-link a {
                text-decoration: none;
                font-family: 'Quicksand', sans-serif;
                font-size: 1rem;
                color: white;
            }

    table {
        width: 90%;
        margin: 15px 5% 50px 5%;
        padding: 0;
        text-align: left;
    }

        th, td {
            margin: 0;
            padding: 10px;
        }

        th {
            font-family: 'Quicksand', sans-serif;
            font-size: 1.5rem;
            font-weight: 700;
            opacity: .87;
        }

        td, td a {
            font-family: 'Roboto', sans-serif;
            font-size: 1.15rem;
            font-weight: normal;
            color: #009688;
            opacity: .87;
        }

        th:nth-child(1){
            width: 700px;
        }
        td:nth-child(1){
            width: 700px;
        }

        th:nth-child(2){
            text-align: right;
            width: 100px;
        }
        td:nth-child(2){
            text-align: right;
            width: 100px;
        }

        th:nth-child(3){
            text-align: right;
            width: 200px;
        }
        td:nth-child(3){
            text-align: right;
            width: 200px;
        }

        #table-answer-link {
            color: white;
            opacity: 1;
        }

}


@media only screen and (min-width: 400px) and (max-width: 767px) { /* Flex styles, for mobile, smaller screens */
    #dashboard-welcome {
        width: 90%;
        margin: 25px 5% 0 5%;
        padding: 0;
        text-align: center;
        font-family: 'Quicksand', sans-serif;
        font-weight: 700;
        opacity: .87;
    }

    #dashboard-current-username {
        width: 90%;
        margin: 5px 5% 25px 5%;
        padding: 0;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-size: .75rem;
        font-weight: normal;
        opacity: .54;
    }

    .search-container {
        width: 100%;
        margin: 0 5%;
        padding: 0;

    }

        #search-bar {
            width: 90%;
            margin: 0;
            padding: 10px 0;
            text-align: center;
            font-family: 'Quicksand', sans-serif;
            font-size: 1.5rem;
        }

    #questionHolder {
        width: 90%;
        text-align: center;
    }

        #new-question-link {
            margin: 10px 0 0 0;
            background-color: #E57373;
            -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
            -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
            box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        }

            #new-question-link a {
                text-decoration: none;
                font-family: 'Quicksand', sans-serif;
                font-size: 1rem;
                color: white;
            }


    table {
        width: 90%;
        margin: 15px 5% 50px 5%;
        padding: 0;
        text-align: left;
    }

        th, td {
            margin: 0;
            padding: 10px;
        }

        th {
            font-family: 'Quicksand', sans-serif;
            font-size: 1.5rem;
            font-weight: 700;
            opacity: .87;
        }

        td, td a {
            font-family: 'Roboto', sans-serif;
            font-size: 1.15rem;
            font-weight: normal;
            color: #009688;
            opacity: .87;
        }

        th:nth-child(1){
            width: 50vw;
        }
        td:nth-child(1){
            width: 50vw;
        }

        th:nth-child(2){
            text-align: right;
            width: 25vw;
        }
        td:nth-child(2){
            text-align: right;
            width: 25vw;
        }

        th:nth-child(3){
            text-align: right;
            width: 25vw;
        }
        td:nth-child(3){
            text-align: right;
            width: 25vw;
        }

        #table-answer-link {
            color: white;
            opacity: 1;
        }

}


@media only screen and (max-width: 450px) {
    #dashboard-welcome {
        width: 90%;
        margin: 25px 5% 0 5%;
        padding: 0;
        text-align: center;
        font-family: 'Quicksand', sans-serif;
        font-weight: 700;
        opacity: .87;
    }

    #dashboard-current-username {
        width: 90%;
        margin: 5px 5% 25px 5%;
        padding: 0;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-size: .75rem;
        font-weight: normal;
        opacity: .54;
    }

    .search-container {
        width: 100%;
        margin: 0 5%;
        padding: 0;

    }

        #search-bar {
            width: 90%;
            margin: 0;
            padding: 10px 0;
            text-align: center;
            font-family: 'Quicksand', sans-serif;
            font-size: 1.5rem;
        }

    #questionHolder {
        text-align: center;
    }

        #new-question-link {
            margin: 10px 0 0 0;
            background-color: #E57373;
            -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
            -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
            box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        }

            #new-question-link a {
                text-decoration: none;
                font-family: 'Quicksand', sans-serif;
                font-size: 1rem;
                color: white;
            }


    table {
        width: 90%;
        margin: 15px 5% 50px 5%;
        padding: 0;
        text-align: left;
    }

        th, td {
            margin: 0;
            padding: 10px;
        }

        th {
            font-family: 'Quicksand', sans-serif;
            font-size: 1.5rem;
            font-weight: 700;
            opacity: .87;
        }

        td, td a {
            font-family: 'Roboto', sans-serif;
            font-size: 1.15rem;
            font-weight: normal;
            color: #009688;
            opacity: .87;
        }

        th:nth-child(1){
            width: 50vw;
        }
        td:nth-child(1){
            width: 50vw;
        }

        th:nth-child(2){
            display: none;
        }
        td:nth-child(2){
            display: none;
        }

        th:nth-child(3){
            text-align: right;
            width: 25vw;
        }

        td:nth-child(3){
            text-align: right;
            width: 25vw;
        }

        #table-answer-link {
            color: white;
            opacity: 1;
        }

}
