.new-question-headline {
    width: 90%;
    margin: 15px 5% 5px 5%;
    padding: 10px 0;
}

    .new-question-headline h1 {
        text-align: center;
        font-family: 'Quicksand', sans-serif;
        font-weight: 700;
        color: black;
        font-size: 3.5rem;
        opacity: .75;
    }

.new-question-container {
    width: 90%;
    margin: 0 5% 25px 5%;
    padding: 15px 0;
}

    .new-question-container p {
        text-align: center;
    }

    #question-input {
        border: 1px solid grey;
        width: 90%;
        margin: 0px 5%;
        font-family: 'Quicksand', sans-serif;
        font-weight: 400;
        color: black;
        font-size: 1.5rem;
        opacity: .75;
    }

    #question-description {
        border: 1px solid grey;
        width: 90%;
        height: 200px;
        margin: 10px 5% 5px 5%;
        resize: none;
        font-family: 'Quicksand', sans-serif;
        font-weight: 400;
        color: black;
        font-size: 1.5rem;
        opacity: .75;
    }

    .new-question-form-buttons {
        margin: 0px 5%;
        display: flex;
        justify-content: flex-end;
    }

        .new-question-form-buttons button,  .new-question-form-buttons button a{
            margin: 0 5px;
            background-color: #E57373;
            text-decoration: none;
            color: white;
        }

        .new-question-form-buttons input {
            cursor: pointer;
            background-color: #4DB6AC;
            color: white;
        }
